<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.zipsee.user.model.mapper.DongMapper">
	<select id="getDong">
		SELECT *
		FROM DONG
		WHERE DONG_CODE = #{dongCode}
	</select>
</mapper>